Django==1.4.1
South==0.7.6
django-allauth==0.8.1
django-crispy-forms==1.1.4
django-olwidget==0.50
django-taggit==0.9.3
django-tastypie==0.9.11
httplib2==0.7.6
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
