{% extends 'base.html' %}
{% load url from future %}

{% block extra-head %}
{{ map.media }}
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">{{ location.name }}</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="span3">
      <h1>{{ location.name }}</h1>
      {% if location.description %}
        <p>{{ location.description }}</p>
      {% endif %}

      <div class="vcard">
        <div class="fn org">{{ location.name }}</div>
        {% if location.phone %}
          <div class="tel">
            <span class="type">work</span>: <a href="tel:{{ location.phone }}"><span class="value">{{ location.phone }}</span></a>
          </div>
        {% endif %}
        {% if location.url %}
          <div class="url">{{ location.url }}</div>
        {% endif %}
        {% if location.email %}
          <div class="email">{{ location.email }}</div>
        {% endif %}
        {% if location.twitter %}
          <div class="twitter">{{ location.twitter }}</div>
        {% endif %}

        {% if not location.street_address and not location.locality and not location.region and not location.country %}
          <p>No address data.</p>
        {% else %}
          <div class="adr">
            {% if location.street_address %}
              <div class="street-address">{{ location.street_address }}</div>
            {% endif %}
            {% if location.locality %}
              <div class="locality">{{ location.locality }}</div>
            {% endif %}
            {% if location.region %}
              <div class="region">{{ location.region }}</div>
            {% endif %}
            {% if location.postal_code %}
              <div class="postal-code">{{ location.postal_code }}</div>
            {% endif %}
            {% if location.country %}
              <div class="country-name">{{ location.country }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>

      {% if display_validate_it %}
        <a href="{% url 'world_location_validate' location.slug %}">Validate it!</a>
      {% endif %}

      <h3>Created by</h3>
      <div style="overflow:auto;text-align:center;">
      {% if location.created_by %}
        {% with location.created_by.socialaccount_set.all.0 as account %}
          <div class="avatar"><a href="{{ account.get_profile_url }}" target="_blank"><img src="{{ account.get_avatar_url }}" title="{{ account }}"></a></div>
        {% endwith %}
      {% else %}
        <div class="avatar">
          <a href="http://openstreetmap.org" target="_blank">
            <img src="http://www.openstreetmap.org/assets/osm_logo.png" title="OpenStreetMap Logo" />
          </a>
          <p class="muted">Data from OpenStreetMap</p>
        </div>
      {% endif %}
      </div>

      <h3>Validated by</h3>
      <div style="overflow:auto;">
      {% for user in location.validated_by.all %}
        {% with user.socialaccount_set.all.0 as account %}
          <div class="avatar"><a href="{{ account.get_profile_url }}" target="_blank"><img src="{{ account.get_avatar_url }}" title="{{ account }}"></a></div>
        {% endwith %}
      {% empty %}
        {% if display_validate_it %}
          <p>This location isn't validated yet. Be the first to <a href="{% url 'world_location_validate' location.slug %}">validate it</a>!</p>
        {% endif %}
      {% endfor %}
      </div>

    </div>
    <div class="span6">
      {{ map }}
    </div>
    <div class="span3">
      <a href="https://twitter.com/intent/tweet?url={{ tweet_url|urlencode }}&text={{ tweet_text|urlencode }}" class="btn btn-success">Tweet this location!</a>
    </div>
  </div>
{% endblock %}
