{% extends 'base.html' %}
{% load url from future %}

{% block extra-head %}
{{ map.media }}
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">{{ location.name }}</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="span3">
      <h1>{{ location.name }}</h1>

      <p>{{ location.description }}</p>

      <div class="vcard">
        <div class="fn org">{{ location.name }}</div>
        <div class="tel"><span class="type">work</span>: <a href="tel:{{ location.phone }}"><span class="value">{{ location.phone }}</span></a></div>
        <div class="url">{{ location.url }}</div>
        <div class="email">{{ location.email }}</div>
        <div class="twitter">{{ location.twitter }}</div>

        <div class="adr">
          <div class="street-address">{{ location.street_address }}</div>
          <div class="locality">{{ location.locality }}</div>
          <div class="region">{{ location.region }}</div>
          <div class="postal-code">{{ location.postal_code }}</div>
          <div class="country-name">{{ location.country }}</div>
        </div>
      </div>

      {% if display_validate_it %}
        <a href="{% url 'world_location_validate' location.slug %}">Validate it!</a>
      {% endif %}

      <h3>Created by</h3>
      <div style="overflow:auto;">
      {% with location.created_by.socialaccount_set.all.0 as account %}
        <div class="avatar"><a href="{{ account.get_profile_url }}" target="_blank"><img src="{{ account.get_avatar_url }}" title="{{ account }}"></a></div>
      {% endwith %}
      </div>

      <h3>Validated by</h3>
      <div style="overflow:auto;">
      {% for user in location.validated_by.all %}
        {% with user.socialaccount_set.all.0 as account %}
          <div class="avatar"><a href="{{ account.get_profile_url }}" target="_blank"><img src="{{ account.get_avatar_url }}" title="{{ account }}"></a></div>
        {% endwith %}
      {% empty %}
        {% if display_validate_it %}
          <p>This location isn't validated yet. Be the first to <a href="{% url 'world_location_validate' location.slug %}">validate it</a>!</p>
        {% endif %}
      {% endfor %}
      </div>

    </div>
    <div class="span6">
      {{ map }}
    </div>
    <div class="span3">
      <a href="https://twitter.com/intent/tweet?url={{ tweet_url|urlencode }}&text={{ tweet_text|urlencode }}" class="btn btn-success">Tweet this location!</a>
    </div>
  </div>
{% endblock %}
