{% extends 'base.html' %}

{% block breadcrumb %}
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">About</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">

<h1>About the project</h1>

<h2>This project attempts to make use of the plethora of 'data' out there and make it easy to access and use.</h2>

<p><em>Mobile services are primarily about linking – connecting people to information, services, and people who can help. If there are not adequate services, systems, or trained people to connect to, then mobile services are weak.</em></p>

<p>Peter Benjamin - MD of Cell Life</p>

<h1>Goal</h1>

<p></p>

<p>Improving access to community services.</p>

<p></p>

<h1>How we do this</h1>

<p></p>

<h2>Collection of locations and events regarding community services </h2>

<p></p>

<p><a href="http://india.konekta.info/add-health-center/">Location upload</a> and publication to an <a href="http://thedatahub.org/dataset/geohealth" target="_blank">open database</a>.</p>

<p></p>

<h2>Publication of a mobile web service</h2>

<p></p>

<p>We meet the need of the mother looking for a health clinic or school by publishing the data to a <a href="http://india.konekta.info/mobile" target="_blank">mobile client</a>.</p>

<p></p>

<h1>Objectives</h1>

<p></p>

<ul>
<li>Deliver services to users on the ground.</li>
<li>Build relationships with organisations delivering community services on the ground</li>
<li>Definition of users and needs</li>
<li>Establish a dedicated open data repository focused on community services. </li>
<li>Identification and curation of useful open data</li>
<li>Publication of valuable timely open data</li>
<li>Engage open source developers</li>
<li>Engage data journalists</li>
<li>Establish a business model that powers the development of open data</li>
</ul>

<p></p>


<h1>Feedback</h1>

<p></p>

<p>Please let us know how we can <a href="{% url feedback %}"><span>collaborate</span></a> with you.</p>

  </div>
</div>
{% endblock %}
