{% load url from future %}

{% if socialaccount.providers  %}
  <p>Socialnetwork login</p>
  <div class="socialaccount_providers">
    {% include "myproviderslist.html" %}
  </div>
{% endif %}


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="primaryAction" type="submit">Sign In</button>
</form>

<a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
