{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}

{% block wholepage %}

<header class="jumbotron subhead" id="overview">
  <div class="container">

    {% placeholder teaser %}

  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        {% placeholder sidebar %}
      </div>
      <div class="span9">
        {% placeholder content %}
      </div>
    </div>
  </div>

{% addtoblock "css" %}
<style type="text/css" media="screen">
  .bs-docs-sidebar { min-height: 1px; }
  .bs-docs-sidenav.affix {
    top: 40px;
  }
  .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }
  .page-header h1 { padding-top:50px; }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
$(function(){
  var $window = $(window);
  // side bar
  $('.bs-docs-sidenav').affix({
    offset: {
      top: function () { return $window.width() <= 980 ? 290 : 210 }
      ,bottom: 270
    }
  });
});
</script>
{% endaddtoblock %}

{% endblock %}
