DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'konekta_test',
        'USER': 'postgres',
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
